html, body
{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	overflow: hidden;
}
[v-cloak]
{
	display: none;
}
.blur
{
	filter: blur(10px);
}
.blur::before
{
	filter: blur(10px);
	transform: scale(1.1);
}
#bg
{
	background-image: url(../img/bg.jpg);
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	position: relative;
	transition: all 0.25s;
}
#bg::before
{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	transition: all 0.25s;
	background-image: url(../img/bg.jpg);
	background-size: cover;
}
#time
{
	transition: all 0.25s;
	margin: 100px 0 0 0;
	width: 160px;
	padding: 0;
	border: none;
	font-family: "Microsoft YaHei UI", serif;
	font-size: 40px;
	color: #FFFFFF;
	cursor: pointer;
}
#time::after
{
	transition: all 0.25s;
	display: block;
	content: '';
	height: 2px;
	background: rgba(112, 192, 0, 1);
	transform: scale3d(0, 1, 1);
}
#time:hover::after
{
	transform: scale3d(1, 1, 1);
}
.unselectable
{
	user-select: none;
}
#input
{
	/* position: absolute; */
	transition: opacity 0.25s;
	/* left: 50%; */
	top: 175px;
	margin: 20px 0 0 0;
	padding: 0;
	/* transform: translate(-50%, 0); */
	width: 100%;
	height: 40px;
}
.input-slow
{
	opacity: 0.25;
}
.input-high
{
	opacity: 0.75;
}
#text
{
	transition: width 0.25s;
	height: 40px;
	background: #ffffff;
	text-align: center;
	line-height: 40px;
	text-decoration: none;
	color: #000000;
	font-size: 16px;
	border-radius: 20px;
	border: 0 none;
	outline: none;
	padding: 0;
	text-transform: none;
	box-shadow: #555555 0 1px 4px 0;
}
#text:hover
{
	width: 600px;
}
.text-short
{
	width: 200px;
}
.text-long
{
	width: 600px;
}
#search
{
	position: absolute;
	background-color: #888888;
	height: 24px;
	width: 24px;
	border-radius: 12px;
	margin-top: 8px;
	margin-left: -32px;
	cursor: pointer;
}
#hitokoto
{
	opacity: 0.75;
	position: absolute;
	bottom: 30px;
	left: 50%;
	width: 100%;
	transform: translate(-50%, 0);
	border: none;
	font-size: 15px;
	transition: all 0.2s;
}
#hitokoto-creator
{
	transition: all 0.2s;
}
.hitokoto
{
	color: #FFFFFF;
}
.hitokoto-hover
{
	background-color: #FFFFFF;
	color: #000000;
}
.hitokoto-creator
{
	opacity: 0;
}
#type
{
	transition: all 0.25s;
	height: 30px;
	width: 100%;
	padding: 0;
}
.type-hide
{
	margin: 0 0 0 0;
	opacity: 0;
}
.type-show
{
	margin: 24px 0 0 0;
	opacity: 1;
}
.type-deep
{
	background-color: rgba(255, 255, 255, 0.25);
}
.type-slow
{
	background-color: rgba(255, 255, 255, 0.1);
}
.type-select
{
	background-color: rgba(255, 255, 255, 0.4);
}
.type-ico
{
	display: inline-block;
	transition: all 0.25s;
	height: 30px;
	width: 72px;
	border-radius: 15px;
	cursor: pointer;
}
.ico
{
	margin-top: 7px;
	height: 16px;
	width: 16px;
}
.mark
{
	height: 32px;
	width: 120px;
	padding: 0;
	margin: 8px 12px 8px 12px;
	text-decoration: none;
	text-align: center;
	line-height: 32px;
	float: left;
	display: inline-block;
	border-radius: 16px;
	transition: all 0.25s;
	background-color: rgba(255, 255, 255, 0);
	color: #FFFFFF;
}
.mark:hover
{
	background-color: rgba(255, 255, 255, 0.6);
	color: #555555;
}